


body{
margin: 0px;
}
.header{
min-height: 50px;
width: 99%;
text-align: center;
font-size: 60px;
padding-top: 30px;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
border: solid rgb(230, 230, 230) 5px;
}
.header_image {
width: 1500px;
}
.nav {
background-color: rgb(255, 255, 255);
min-height: 50px;
width: 99%;
overflow: hidden;
color: rgb(0, 0, 0);
border: solid rgb(230, 230, 230) 5px;
}
.nav a {
float: left;
font-size: 20px;
color: rgb(0, 0, 0);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
.nav a:hover {
background-color: rgb(230, 230, 230);
border-radius: 20px;
}
.bodycopy{
min-height: 750px;
width: 100%;
overflow: hidden;
display: table;
}
.left{
background-color: rgb(255, 255, 255);
min-height: 530px;
width: 18.5%;
padding-top: 30px;
padding-left: 10px;
float: left;
overflow: hidden;
display: table-cell;
border: solid rgb(230, 230, 230) 5px;
color: rgb(0, 0, 0);
font-size: 35px;
}
.contactleftimage{
 width: 320px; 
}
.middle{
background-color: rgb(255, 255, 255);
min-height: 530px;
width: 59%;
padding-top: 30px;
padding-left: 10px;
float: left;
overflow: hidden;
display: table-cell;
border: solid rgb(230, 230, 230); 5px;
color: rgb(0, 0, 0);
font-size: 35px;
}
.admin25{
background-color: rgb(255, 255, 255);
min-height: 530px;
width: 99%;
padding-top: 30px;
padding-left: 10px;
float: left;
overflow: hidden;
display: table-cell;
border: solid rgb(230, 230, 230) 5px;
color: rgb(0, 0, 0);
font-size: 30px;
}
.contactadmin25{
background-color: rgb(255, 255, 255);
min-height: 530px;
width: 99%;
padding-top: 30px;
padding-left: 10px;
float: left;
overflow: hidden;
display: table-cell;
border: solid rgb(230, 230, 230) 5px;
color: rgb(0, 0, 0);
font-size: 20px;
}
.right{
background-color: rgb(255, 255, 255);
min-height: 530px;
width: 18.9%;
padding-top: 30px;
padding-left: 10px;
float: left;
overflow: hidden;
display: table-cell;
border: solid rgb(230, 230, 230) 5px;
color: rgb(0, 0, 0);
font-size: 35px;
}
.leftgallery {
background-color: rgb(128, 128, 128, 1.0);  
margin: 7px; padding: 5px;
border: 2px solid rgba(0, 0, 0, 1.0);
height: 50px;
border-radius: 20px;
}
.gallery {
background-color: rgb(128, 128, 128, 1.0);  
margin: 7px; padding: 5px;
border: 2px solid rgba(0, 0, 0, 1.0);
height: 200px;
border-radius: 20px;
}
.rightgallery {
background-color: rgb(128, 128, 128, 1.0);  
margin: 7px; padding: 5px;
border: 2px solid rgba(0, 0, 0, 1.0);
height: 50px;
border-radius: 20px;
}
.footernav{
background-color: rgb(255, 255, 255);
width: 99%;
overflow: hidden;
color: rgb(0, 0, 0);
border: solid white 5px;
}
.footernav a{
  float: left;
font-size: 20px;
color: rgb(0, 0, 0);
text-align: center;
padding: 5px 16px;
text-decoration: none;
}
.footer{
min-height: 275px;
width: 99%;
text-align: center;
font-size: 60px;
padding-top: 30px;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
border: solid rgb(230, 230, 230) 5px;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_dropdown_navbar */

.dropdown {
  float: left;
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
  overflow: hidden;
}
.dropdown .dropbtn {
 border: none;
  font-size: 20px;  
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(230, 230, 230);
  border-radius: 20px;
}
.dropdown-content {
  display: none;
  position: absolute;
  font-size: 20px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: rgb(230, 230, 230);
  color: rgb(255, 255, 255);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.activenav {
  background-color: rgb(230, 230, 230);
  border-radius: 20px;
}
.activenav_dropdown {
  background-color: rgb(230, 230, 230);
  color: rgb(0, 0, 0);
  border-radius: 20px;
}