body{
margin: 0px;
background-color:   rgb(255,255,255);
}
.header{
background-color: rgb(0, 0, 0);
min-height: 50px;
width: 100%;
text-align: center;
font-size: 60px;
padding-top: 30px;
color: rgb(255,255,0);
}

.bodycopy{
background-color: rgb(0,0,0);
min-height: 450px;
width: 100%;
overflow: hidden;
display: table;
}
.devmysite25{
background-color: rgb(0, 0, 0);
min-height: 530px;
width: 99%;
padding-top: 30px;
padding-left: 10px;
float: left;
overflow: hidden;
display: table-cell;
border: solid rgb(0, 0, 0) 5px;
color: rgb(255,255,0);
font-size: 35px;
}
.left{
background-color: rgb(128,128,128);
min-height: 530px;
width: 18.5%;
padding-top: 30px;
padding-left: 10px;
float: left;
overflow: hidden;
display: table-cell;
border: solid black 5px;
color: rgb(0,255,255);
font-size: 35px;
}

.midtitle {
  text-align: center;
  font-size: 45px;
}

.submidtitle {
  font-size: 40px;
}

.conmiddle{
background-color: rgb(128,128,128);
min-height: 1060px;
width: 59%;
padding-top: 30px;
padding-left: 10px;
float: left;
overflow: hidden;
display: table-cell;
border: solid black 5px;
color: rgb(0,255,255);
font-size: 30px;
}

.middle{
background-color: rgb(128,128,128);
min-height: 530px;
width: 59%;
padding-top: 30px;
padding-left: 10px;
float: left;
overflow: hidden;
display: table-cell;
border: solid black 5px;
color: rgb(0,255,255);
font-size: 35px;
}
.right{
background-color: rgb(128,128,128);
min-height: 530px;
width: 18.9%;
padding-top: 30px;
padding-left: 10px;
float: left;
overflow: hidden;
display: table-cell;
border: solid black 5px;
color: rgb(0,255,255);
font-size: 35px;
}

.gallery{
background-color: rgb(128,128,128);
min-height: 1060px;
width: 98.8%;
padding-top: 30px;
padding-left: 10px;
float: left;
overflow: hidden;
display: table-cell;
border: solid black 5px;
color: rgb(0,255,255);
font-size: 35px;
}

.galtitle {
  text-align: center;
  font-size: 100px;
}

.footer{
background-color: rgb(0, 0, 0);
min-height: 50px;
width: 100%;
text-align: center;
font-size: 60px;
padding-top: 30px;
color: rgb(255,255,0);
}



.navbar {
background-color: rgb(51,51,51);
min-height: 50px;
width: 100%;
overflow: hidden;
}


.navbar a {
float: left;
  font-size: 20px;
  color: rgb(176, 38, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
	background-color: rgb(0,0,0);
	border-radius: 20px;
}

.imgright {
  width: 300px;
}

.v {
  width: 250px;
}

.warning {
  text-align: center;
  background-color: rgb(0, 0, 0);
min-height: 530px;
width: 59%;
padding-top: 30px;
padding-left: 10px;
float: left;
overflow: hidden;
display: table-cell;
border: solid black 5px;
color: rgb(255, 0, 0);
font-size: 30px;
}

.ip{
background-color: rgb(128, 128, 128);
min-height: 10px;
font-size: 20px;
width: 100%;
text-align: right;
padding-top: 30px;
color: rgb(255,255,0);
}
 
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_dropdown_navbar */

.dropdown {
  float: left;
  font-size: 20px;
  color: rgb(176, 38, 255);
  text-align: center;
  overflow: hidden;
}

.dropdown .dropbtn {
 border: none;
  font-size: 20px;  
  color: rgb(176, 38, 255);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;

}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 20px;
  color: rgb(176, 38, 255);
  background-color: rgb(249, 249, 249);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 140, 0);
}

.dropdown:hover .dropdown-content {
  display: block;
}


.activenav {
  background-color: rgb(0,0,0);
  border-radius: 20px;
}

.activenav_dropdown {
  background-color: rgb(128, 128, 128);
  color: rgb(176, 38, 255);
  border-radius: 20px;
}