<html>
[include file=../includes/vars.inc]
[include file=[INCVAR]header.inc]
<body>

<main>
[include file=[INCVAR]nav.inc]

<article>
<h2>INSERT NAME HERE Javascript tutorial</h2>
<br><br>


This is the "INSERT NAME HERE" Javascript page, it teaches you how to write this code and how it works.
Now what this code can do is change what some text says, it can also make buttons and just possibly redirects you if you know what you are doing.
<br><br>

<textarea id="textbox" name="textbox" rows="30" cols="70">
[input]
<script>

</script>
[/input]
</textarea>




<h2>Examples</h2>
<br><br>





</script>

  </article>
 </main> 
[include file=[INCVAR]footer.inc]
</html>