body {
  margin: 0;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  color: yellow;
}

.header, .footer {
  background-color: black;
  color: yellow;
  text-align: center;
}

.navbar {
  background-color: #333333;
}

.navbar a {
  color: #B026FF;
  text-decoration: none;
}
