/* ==============================
   BODY & GLOBAL
   ============================== */
body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: "Times New Roman", serif;
  color: #00FFFF;
}

/* ==============================
   HEADER
   ============================== */
.header {
  background-color: #000000;
  height: 80px;
  width: 100%;
  text-align: center;
  font-size: 48px;
  padding-top: 20px;
  color: #FFFF00;
  font-weight: bold;
}

/* ==============================
   BODY LAYOUT
   ============================== */
.bodycopy {
  width: 100%;
  overflow: hidden;
}

.left {
  background-color: #808080;
  width: 18%;
  float: left;
  padding: 10px;
  border: 3px solid #000000;
  font-size: 32px;
  min-height: 500px;
}

.middle {
  background-color: #C0C0C0;
  width: 60%;
  float: left;
  padding: 10px;
  border: 3px solid #000000;
  font-size: 32px;
  min-height: 500px;
}

.right {
  background-color: #808080;
  width: 18%;
  float: left;
  padding: 10px;
  border: 3px solid #000000;
  font-size: 32px;
  min-height: 500px;
}

/* ==============================
   FOOTER
   ============================== */
.footer {
  background-color: #000000;
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 40px;
  color: #FFFF00;
  font-weight: bold;
  padding-top: 10px;
  clear: both;
}

/* ==============================
   NAVBAR
   ============================== */
.navbar {
  background-color: #333333;
  width: 100%;
  overflow: hidden;
}

.navbar a {
  float: left;
  font-size: 18px;
  color: #B026FF;
  text-decoration: none;
  padding: 10px 12px;
}

.navbar a:hover {
  background-color: #000000;
  color: #FFFF00;
}

.activenav {
  background-color: #000000;
  color: #FFFF00;
  font-weight: bold;
}

/* ==============================
   MISC CLASSES
   ============================== */
.imgright {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.midtitle {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.underconstruction {
  width: 100%;
  padding: 30px;
  text-align: center;
  background-color: #FFF3CD;
  border: 4px dashed #FF5733;
  color: #C70039;
  font-size: 32px;
  font-weight: bold;
}

/* ==============================
   CLEAR FLOATS
   ============================== */
.clearfix {
  clear: both;
}
