[include file=../../includes/vars.inc]
[include file=[incVAR]/header.inc]
[include file=[incVAR]/nav.inc]

<div class="bodycopy">
  <div class="admin25">[text]dbname=CHANGE.db[/text]
    [showif [action]=append]
    APPENDING to [dbname]
[append db=[dbVAR][dbname]&autonumber=SKU][!]
[/!]CHANGE=[CHANGE]&[!]
[/!]CHANGE=[CHANGE]&[!]
[/!]CREATEDATE=[date]&[!]
[/!]MODDATE=[date]&[!]
[/!]STATUS=[STATUS][!]
[/!][/append]
[redirect index.html]
    [/showif]<br>
    [!]SKU  CHANGE CHANGE  CREATEDATE  MODDATE STATUS[/!] Add Record to [dbname]<br><br>

<form method="post" action="[thisurl]">
  <input type="hidden" name="action" value="append">
  CHANGE<br>
  <input type="text" name="CHANGE" id="CHANGE" placeholder="CHANGE" size="50"><br><br>
  CHANGE<br>
  <input type="text" name="CHANGE" id="CHANGE" placeholder="CHANGE" size="3"><br><br>

Status<br>
   <select name="Status" id="Status">
     <option value="1">Active</option>
     <option value="0">Inactive</option>
   </select>
   <br>
   <br>
   <input type="submit" value="Add Record">
    [closedatabase db=[dbVAR][dbname]]

  </div>
</div>

[include file=[incVAR]/footer.inc]